$colors:(
  1: #a7ff83,
  2: #17b978,
  3: #086972,
  4: #071a52,
);

@function color($color-name){
  @return map-get($colors, $color-name)
}


body {
  background-color: color(4);
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Nunito', 'sans-serif';
}

.container{
  width: 50%;
  background: white;
  border-radius: 10px;
  .inner{
    background: color(2);
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    clip-path: circle(0% at 0% 0%);
    transition: clip-path 0.5s ease-in-out;
    h1{
      color: white;
      margin: 0;
    }
    p{
      color: white;
      font-size: .8rem;
      width: 50%;
    }
  }
  &:hover .inner{
    clip-path: circle(80%)
  }
}

.random{
  color: hue;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: grey;
  h1{
    padding-left: 30px;
    // text-align: center;
    margin-bottom: 0;
    font-size: 50px;
    padding-bottom: 0;
    line-height: 50px;
  }
  p{
    padding: 30px;
    margin: 0;
  }

}